*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

.main{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}
.sekil{
    flex: 1 0 33%;
    position: relative;
    
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
   opacity: 0;
   /* opacity: 0; */

  
}
.sekil:hover  .overlay{
background-color: rgba(255, 0, 0, 0.329);
opacity: 1;
}
@media(min-width:576px){
    body{
        background-color: aqua;
        flex-direction: column;
    }
}